:root {
  --whiteAlpha20: rgba(255, 255, 255, 0.05);
  --whiteAlpha10: rgba(255, 255, 255, 0.1);
  --whiteAlpha15: rgba(255, 255, 255, 0.15);
  --darkAlpha: rgba(56, 62, 66, 0.55);
  --minScale: 0.7;
  --longTime: 0.4s;
  --shortTime: 0.25s;
  --animationFunction: ease-in-out;
  --primary-color: #fff;
  --secondary-color: #000;
  --border-radius-sm: 0.375rem;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
.visible {
  opacity: 1;
  visibility: visible;
}

@keyframes fadeScale {
  0% {
    opacity: 0;
    transform: scale(var(--minScale));
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: "Google Sans", sans-serif;
  user-select: none;
}
#wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  /* place-items: center; */
  align-items: center;
  justify-content: center;
}
#background {
  text-align: center;
  background-repeat: no-repeat;
  position: fixed;
  background-size: cover;
  background-position: 50%;
  transition: -webkit-filter var(--shortTime);
  transition: filter var(--shortTime);
  transition: filter var(--shortTime), -webkit-filter var(--shortTime);
  width: 100%;
  height: 100%;
}
#background-blur {
  /* backdrop-filter: blur(10px) brightness(0.9); */
  width: 100%;
  height: 100%;
  position: absolute;
  transition: var(--shortTime);
  transition-property: all;
  transition-timing-function: var(--animationFunction);
}
@keyframes blackingOutBg {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  10% {
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    background: rgba(0, 0, 0, 0.9);
  }
}
.blackingOutBackground {
  animation-name: blackingOutBg;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-duration: 3600s;
}
#sites-container {
  z-index: 1;
  background-color: var(--darkAlpha);
  /* padding: 1em; */
  backdrop-filter: blur(20px);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 8px;
  transition: var(--animationFunction) all var(--shortTime);
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr min-content;
  gap: 0px 0px;
  grid-template-areas:
    "sites sites"
    "search clock";
}
#sites-container.hidden {
  opacity: 0;
  visibility: hidden;
  animation-name: fadeScale;
  animation-iteration-count: 1;
  animation-timing-function: var(--animationFunction);
  animation-duration: var(--longTime);
  animation-direction: reverse;
  transform: scale(var(--minScale));
}
#sites-container.visible {
  opacity: 1;
  visibility: visible;
  animation-name: fadeScale;
  animation-iteration-count: 1;
  animation-timing-function: var(--animationFunction);
  animation-duration: var(--longTime);
  transform: scale(1);
}

#small-container {
  transition: var(--animationFunction) all var(--shortTime);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#small-container.hidden {
  opacity: 0;
  visibility: hidden;
  animation-name: fadeScale;
  animation-iteration-count: 1;
  animation-timing-function: var(--animationFunction);
  animation-duration: 0.2s;
  animation-direction: reverse;
  transform: scale(var(--minScale));
}
#small-container.visible {
  opacity: 1;
  visibility: visible;
  animation-name: fadeScale;
  animation-iteration-count: 1;
  animation-timing-function: var(--animationFunction);
  animation-duration: 0.2s;
  transform: scale(1);
}
#sites {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(2em, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(0, min-content));
  max-width: 90vw;
  /* min-width: 60vw; */
  max-height: 90vh;
  /* min-height: 30vh; */
  /* width: clamp(40vw, 10rem, 90vw); */
  gap: 1em;
  grid-area: sites;
  padding: clamp(1em, 5vw, 10em);
  justify-content: center;
}
.sites-group {
  display: grid;
  /* grid-auto-columns: min-content; */
  grid-auto-rows: min-content;
  grid-auto-columns: min-content;
  /* width: calc(fit-content + 200px); */
  padding: 0 clamp(1rem, 4vw, 4rem);
  gap: 1em;
}
.site {
  color: #fff;
  font-size: clamp(1.1em, 1.3vw, 1.5em);
  line-height: 2em;
  display: grid;
  grid-template-columns: 2em auto;

  align-items: center;
  /* background-color: var(--whiteAlpha20); */
  border-radius: 999px;
  justify-content: left;
  /* filter: opacity(0.8); */
  text-decoration: none;
  cursor: pointer;
}

.site-icon {
  /* text-overflow: ellipsis; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--whiteAlpha10);
  margin-top: 2px;
  margin-bottom: 2px;
  /* margin-right: 2px; */
  border-radius: 999px;
  transition: var(--animationFunction) 0.2s;
  transition-property: background-color;
}
.site-name {
  margin-left: 0.5em;
  filter: opacity(0.7);
  transition: var(--animationFunction) 0.2s;
  transition-property: all;
  white-space: nowrap;
}
.site:hover .site-icon {
  background-color: var(--whiteAlpha15);
}
.site:hover .site-name {
  filter: opacity(1);
  /* transform: scale(1.1); */
}

.clock {
  color: #fff;
  display: grid;
  grid-template-columns: auto auto;
  width: min-content;
  /* font-size: clamp(3rem, 10vw, 5rem); */
  font-size: clamp(3rem, 8vw, 6rem);

  cursor: pointer;
  height: 1em;
  overflow: hidden;
  margin: 5px;
  /* font-weight: bold; */
}
.clock.small {
  font-size: clamp(4rem, 11.5vw, 6rem);
  text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px;
}
.clock-wrapper.overlay {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  grid-area: clock;
}
.clock-wrapper.small {
  margin-bottom: 20px;
}
.search-wrapper {
  display: flex;
}
.search-wrapper.small {
  justify-content: center;
  /* align-items: flex-end; */
}
.search-wrapper.overlay {
  justify-content: left;
  align-items: flex-end;
  grid-area: search;
}
#search-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock > .hours {
  margin-right: 0.1em;
}

.clock > .minutes {
  margin-left: 0.1em;
}

.search {
  outline: 0;
  text-align: center;
  border: 0;
  border-radius: 10px;
  font-size: 19px;
  z-index: 3;
  height: 30px;
  transition: var(--longTime);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px;
  background-color: rgb(56, 62, 66);
}
.search {
  width: 300px;
}
.search.overlay {
  width: 100px;
}
.search.overlay:hover {
  width: 200px;
}
.search.overlay:focus {
  width: 300px;
}

/* -------------------------------------------------------------------------- */
/*                             FREQUENT BOOKMARKS                             */
/* -------------------------------------------------------------------------- */

#frequentBookmarks {
  display: flex;
  /* flex-direction: column; */
  place-items: center;
  gap: 20px;
  margin-top: 2em;
}

.frequentBookmarkIcon {
  font-size: 3.2em;
  color: rgb(250, 250, 250);
  filter: drop-shadow(rgba(0, 0, 0, 0.6) 0px 1px 4px);
  /* margin-left: 10px;
  margin-right: 10px; */
}

.weather {
  display: flex;
  position: absolute;
  z-index: 5;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: clamp(1.2em, 2vw, 25px);
  height: 32px;
  pointer-events: none;
  transition: var(--shortTime) all;
  filter: brightness(40%);
  gap: 5px;
}
.weather > div {
  font-size: 110%;
}

/* -------------------------------------------------------------------------- */
/*                                  SETTINGS                                  */
/* -------------------------------------------------------------------------- */

/* ----------------------------- settings button ---------------------------- */
.shadow {
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.button {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--primary-color);
  background-color: transparent;
  border: 0;
  overflow: hidden;
}
.button-sm {
  width: 2em;
  height: 2em;
}

.solid-button {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.rounded-button {
  border-radius: 999px;

  transition: 0.15s ease-in-out;
}
.button:hover {
  transform: scale(1.1);
}
#settings-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 12;
}
/* ------------------------------ settings pane ----------------------------- */

#settings {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--darkAlpha);
  backdrop-filter: blur(25px);
  margin: 10px;
  transition: 0.15s ease-in-out;
  z-index: 10;
  border-radius: var(--border-radius-sm);
}

.settings-field {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* justify-content: center; */
  align-items: center;
  /* width: clamp(min-content, 40vw, 100%); */
  margin: 15px;
}
.settings-field-name {
  color: var(--primary-color);
}
.settings-field-value {
  border-radius: var(--border-radius-sm);
  border: 2px solid transparent;
  padding: 5px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  outline: none;
  transition: 0.15s ease-in-out;
}
.settings-field-value:focus {
  border-color: var(--secondary-color);
}

#settings-save {
  font-size: 1.2em;
}
